// Шрифты
$fontFamilyMontserrat: 'Montserrat';
$fontFamilyNunito: 'Nunito';
$fontFamilyPTSans: 'PT Sans';

// Максимальная ширина страницы
$maxWidth: 1168;

// Цвета
$colorGreen: #156963;
$colorGray: #333333;
$colorBlack: #000000;
$colorBrown: #2c1500;
